body{
    font-family: 'Bangers', cursive;
}

.title{
    font-size: 70px;
    background-color: #ff1e44;
    color: black;
    border-radius: 30px;
    margin-bottom: 30px;
}

#mensagem{
    color: #ff1e44 ;
    max-width: 500px;
    height: 700px;
    position: absolute;
    top: 30%;
    left: 60%;
}
#header{
    background-color: #ff1e44;
}
#footer{
    background-color: #ff1e44;
    text-align: center;
    margin: 0;
    padding: 20px;

}
#image{
    margin:0px;
    padding: 0;
}

.btn{
   font-size: 30px;
}

@media screen and (max-width: 500px){
    body{
        background-image: url(./imgs/c70f6b98f55b58d37117f7faf59c3c8d.jpg);
        background-size: 100%;
        background-attachment: fixed;
    }
    #image{
        display: none;
    
        
    }
    .title{
        font-size: 60px;
    }
    #mensagem{
        background-color: rgba(0, 0, 0, 0.459);
        padding: 15px;
        width: 90%;
        height: auto;
        text-align: center;
        position: absolute;
        top:30%;
        left: 5%;
    }
    #b2{
        position: absolute;
        top: 90%;
    }

    .btn{
        border: none;
        font-size:17px;
    }

    #grupo1{
        position: absolute;
    
        top: 20%;
        left: -7%;
        
    }
    #grupo2{
        position: absolute;
        width: 150px;
        top: 27%;
        left: 32%;
        
    }

    #grupo3{
        width: 135px;
        top: -3%;
        left: -37%;
    }
   

   
    #footer{
        position: absolute;
        top: 120%;
    }
}