body{
    font-family: 'Bangers', cursive;
}

.title2{
    font-size: 70px;
    background-color: #ff1e44;
    color: black;
    border-radius: 30px;
    margin-bottom: 30px;
}

  #mensagem{
 
    color: #ff1e44 ;
    max-width: 500px;
    height: auto;
   
}   
#header{
    background-color: #ff1e44;
}
#footer{
    background-color: #ff1e44;
    text-align: center;
    margin: 0;
    padding: 20px;

}
#image{
    margin:0px;
    padding: 0;
}

.btn{
   font-size: 30px;
}

.colunas{
    border-radius: 30px;
}
.botoes{
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 10px;
   
    
}

@media screen and (max-width: 500px){
    body{ 
        background-image: url(/imgs/inicial.png);
        background-attachment: fixed;
        background-size: cover;
    }
  

    #mensagem{
        color: #000000;
        padding: 30px;
        width: 400px;
        border-radius: 20px;
        background-color: rgba(155, 155, 155, 0.705);
       
    }
    #image{
        display: none;
    }
    .title1{
        display: none;
    }
    h3{
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
    }
    .colunas{
        border-radius: 30px;
    }
    .botoes{
        border: 3px solid black;
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 8px;
    }

}

