body {
    font-family: 'Bangers', cursive;
    background-color: #ff1e44;
}

.title2 {
    font-size: 70px;
    background-color: #ff1e44;
    color: black;
    border-radius: 30px;
    margin-bottom: 30px;
}

#mensagem {

    color: white;
    max-width: 500px;
    height: auto;
    font-size: 1.2rem;

}

#body_principal{
    background-image: url(./imgs/fundo-cosmico.jpg);
}

#header {
    background-color: #ff1e44;
}

#footer {
    background-color: #ff1e44;
    text-align: center;
    margin: 0;
    padding: 20px;


}

#image {
    margin: 0px;
    padding: 0;
}

.btn {
    font-size: 30px;
}

.colunas {
    border-radius: 30px;
}

.botoes {
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    padding: 10px;

}

#titlePromocoes {
    background-color: #ff1e44;
    width: 1000px;
    margin: auto;
    text-align: center;
    font-size: 90px;
    color: black;
    border-bottom: black 10px solid;
    border-radius: 30px;
}

#produtos {
    background-size: cover;
    background-attachment: fixed;
    border-radius: 30px;
    width: 100%;
}

form {
    margin: auto;
    width: 450px;
    padding: 40px;
    border: #ff1e44 3px solid;
    border-radius: 30px;
    font-size: 1.5rem;
}

.formulario {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
}

input[type="submit"] {
    background-color: #ff1e44;
    font-size: 40px;

}

input[type="submit"]:hover {
    background-color: black;
    color: #ff1e44;
    padding: 20px;

}

#containerContato {
    background-color: #777072;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.contato {
    margin: 20px;
    padding: 20px;
}



@media screen and (max-width: 600px) {
    /* body{ 
        background-image: url(./imgs/inicial.png);
        background-attachment: fixed;
        background-size: cover;
    } */


    #mensagem {
        color: #ff1e44;
        padding: 30px;
        width: 400px;
        border-radius: 20px;

    }

    #image {
        display: none;
    }

    .title1 {
        display: none;
    }

    h3 {
        border-radius: 10px;
        padding: 10px;
        font-size: 30px;
    }

    .colunas {
        border-radius: 30px;
    }

    .botoes {
        border: 3px solid black;
        border-radius: 20px;
        margin-top: 5px;
        margin-bottom: 8px;
    }

    #titlePromocoes {
        width: 400px;
        font-size: 40px;
        padding: 20px;
        background-color: #ff1e44;
        color: black;
        border-bottom: black 5px solid;
    }


    form {
        margin: auto;
        width: 100%;
        border: none;
        border-radius: 30px;
        font-size: 1.5rem;
    }

    #containerContato {
        background-color: #777072;
        text-align: center;
        margin: 0;
        width: 100%;
    }

    .contato {
        width: 100px;
    }




}